/*responsive pour les écran entre 500 et 900px*/
header{
    display: block;
    background-color: wheat;
    text-align: center;
}

/*--------------------------services--------------------------*/
.services{
    display: block;
    
}

.service{
    margin-left: 50%;
    transform: translateX(-50%);
}