*{
    margin: 0;
    padding: 0;
}
/*------------------------HEADER----------------------*/
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: blueviolet;
    height: 80px;
    border-bottom: 2px solid orange;
}
header #logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}
#logo img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
#logo p{
    font-size: 1.5em;
    color: orange;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}nav ul li a:hover{
    color: orange;
}
/*------------------------Burger----------------------*/
.burger{
    width: 50px;
    height: 30px;
    cursor: pointer;
    position: relative;
    z-index: 30;
    display: none;
}
.burger span{
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}
.burger span::before,
.burger span::after{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
}
.burger span::before{
    transform: translateY(-10px);
}
.burger span::after{
    transform: translateY(10px);
}
.croix span{
    background-color: transparent;
}
.croix span::before{
    transform: rotate(45deg);
}
.croix span::after{
    transform: rotate(-45deg);
}
.active{
    right: 0;
}
/*------------------------Banniere----------------------*/
.banniere{
    position: relative;
    text-align: center;
}
#slider img{
    width: 100%;
    height: 80vh;
    position: absolute;
}
.textban{
    position: absolute;
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.textban h1{
    font-size: 5em;
    color: orange;
    text-shadow: 2px 1px 2px blueviolet;
    padding-top: 150px;
    padding-bottom: 30px;
}
.btn{
    padding: 10px 20px;
    background-color: orange;
    border: 2px solid blueviolet;
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
}
.btn:hover{
    background-color: blueviolet;
    border: 2px solid orange;
    color: white;
    transition: 0.5s;
}
#slider span{
    position: absolute;
    font-size: 6em;
    color: blueviolet;
    text-shadow: 3px 2px 3px orange;
    z-index: 10;
    top: 250px;
    cursor: pointer;
}
#sgauche{
    left: 5%;
}
#sdroite{
    left: 90%;
}
.decal{
    height: 85vh;
}
/*------------------------QSN----------------------*/
h2{
    font-size: 3.5em;
    color: blueviolet;
    text-shadow: 2px 1px 2px orange;
    text-align: center;
    padding: 20px;
}
.apropos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: blueviolet;
    padding: 50px;
}
.apropos .image{
    width: 45%;
}
.apropos .texte{
    width: 45%;
    text-align: center;
    color: white;
    display: none;
    transition: 1s ease-in-out;
}
.image img{
    width: 100%;
}
/*------------------------SERVICES----------------------*/
.services{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.service{
    width: 27%;
    position: relative;
    padding: 20px;
    border: 2px solid blueviolet;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
}
.service img{
    width: 100%;
    height: 300px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.service h3{
    padding-bottom: 20px;
}
.service .popup{
    background-color: blueviolet;
    color: white;
    border: 2px solid orange;
    padding: 10px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: right;
    position: absolute;
    top: 50%;
    /* display: none; */
    visibility: hidden;
}
.popup .close{
    font-size: 2em;
    font-weight: bold;
    color: orange;
    cursor: pointer;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.popup p{
    text-align: center;
}
/*------------------------Blog----------------------*/
.blog{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.article{
    width: 27%;
    position: relative;
    padding: 20px;
    border: 2px solid blueviolet;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
}
.article img{
    width: 100px;
    height: 80px;
    float: left;
}
/*------------------------contact----------------------*/
.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: blueviolet;
    padding: 50px;
    position: relative;
}
.contact aside{
    width: 45%;
}
.contact iframe{
    width: 100%;
    height: 600px;
    border: 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.contact table{
    width: 100%;
}
.contact input{
    width: 100%;
    height: 30px;
    padding-bottom: 10px;
}
.contact textarea{
    width: 100%;
    height: 140px;
    resize: none;
}
.contact label{
    color: orange;
    font-size: 1em;
}
.contact label span{
    font-size: 1.4em;
    font-weight: bold;
    color: red;
}
#envoie{
    padding-bottom: 30px;
    width: 30%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.reussi{
    width: 250px;
    background-color: blueviolet;
    color: white;
    position: absolute;
    font-size: 1.5em;
    padding: 20px;
    border: 2px solid orange;
    border-radius: 15px;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}


/*------------------------footer----------------------*/
footer{
    background-color: blueviolet;
    padding: 50px;
    margin-top: 100px;
}
footer table{
    width: 100%;
    text-align: center;
}
h3{
    font-size: 2.1em;
    color: orange;
}
footer ul li{
    list-style: none;
    padding: 7px;
}
footer ul li a {
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}
footer ul li a:hover {
    color: orange;
}
footer p{
    text-align: center;
    color: orange;
    font-size: 1.4em;
    padding: 10px;
}
/*------------------------RESPONSIVE----------------------*/
/*------------------------Burger----------------------*/
@media screen and (max-width:900px) {
    .burger{
        display: block;
    }
    nav{
        position: absolute;
        display: block;
        background-color: blueviolet;
        top: 80px;
        border-top: 2px solid orange;
        padding: 50px;
        width: 60%;
        z-index: 20;
        right: 100%;
        transition: 1s ease-in-out;
    }
    nav ul{
        display: block;
        text-align: center;
    }
    .banniere h1{
        font-size: 3em;
        padding: 0 50px;
    }
}